/* css reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}


/* common classes */

.fixed {
    position: fixed;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.align-center {
    vertical-align: top;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.a-logo {
    text-align: center;
    width: 195px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

.underline-hover-span:hover span {
    text-decoration: underline;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}