*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}