/* css reser */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


/* common and shared classes */

.fixed {
    position: fixed;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.align-center {
    vertical-align: top;
}


/* header styles */

.main-header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(34, 34, 34);
    background-color: white;
    top: 0;
}

.right-nav {
    position: absolute;
    right: 0px;
    top: 0px;
}

.left-nav {
    position: absolute;
    left: 0px;
    top: 0px;
}

.left-nav svg {
    width: 16px;
    height: 16px;
    margin: 6px;
}

.logo>a {
    display: inline-block;
    width: 195px;
    height: 26px;
}

/* commented to reuse logo without center alignment
.logo {
    text-align: center;
}
*/

.text-center {
    text-align: center;
}


/* Footer Styling */

.grid {
    display: grid;
}

.footer-page {
    max-width: 1200px;
    margin: 100px auto 0 auto;
}

.footer-page::before {
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    content: '';
    display: block;
    height: 4px;
    margin-top: 0;
}

.inline-block {
    display: inline-block;
}

.footer-div {
    margin-top: 20px;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 9px;
}

.footer-div>section>h2, 
.subscribe-div-section>section>h2 {
    color: #333333;
    font-size: 12px;
    height: 25px;
    font-weight: bold;
}

.footer-div>section>ul>li>a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    height: 23px;
    line-height: 16px;
    display: inline-block;
}

.subscribe-div-section {
    border-left: solid 1px #e2e2e2;
    padding-left: 15px;
}

.subscribe-div-section svg {
    width: 13px;
    height: 13px;
    margin-right: 7px;
}

.subscribe-div-section>section ul:first-of-type>li{
    width: 200px;
    height: 26px;
    margin-bottom: 5px;
}

.subscribe-div-section>section ul:first-of-type>li>a{
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.subscribe-div-section>section>ul:last-of-type,
.footer-last-nav {
    border-top: solid 1px #e2e2e2;
    padding-top: 10px;
}

.subscribe-div-section>section>.font-10>li>a{
    font-size: 10px;    
    color: black;
    text-decoration: none;
    height: 20px;
    line-height: 14px;
    display: inline-block;
}

.footer-last-nav>ul>li {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 15px;
}

.footer-last-nav>ul>li>a {
    text-decoration: none;
    font-size: 10px;
    color: #333333;
}

.footer-last-nav {
    text-align: center;
}

/*
.float-right {
    float: right;
}

.float-left {
    float: left;
}
*/

.footer-page header:first-child::after {
    content: "";
    display: block;
    clear: both;
}

.footer-page>header {
    margin-top: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.footer-page>header a:last-of-type{
    text-decoration: none;
    align-self: end;
    justify-self: self-end;
    color: #567b93;
    font-size: 11px;
}

/* Linked Articles Style */

.linked-articles {
    text-decoration: none;
    display: inline-block;
}

.linked-articles>figure>figcaption{
    color: #999999;
    font-size: 0.7em;
    text-align: right;
    min-height: 12px;
    margin-top: 3px;
    margin-bottom: 4px;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
}

.linked-articles span:first-of-type{
    color: black;
    display: block;
    line-height: 22px;
}

.linked-articles span:first-of-type:hover{
    color: #666666;
}

.linked-articles span:last-of-type{
    color: #999999;
    text-align: left;
    font-size: 0.7em;
}

.outside-links-container {
    max-width: 1200px;
    margin: 100px auto 0 auto; /*100px just to not be hidden by the navbar */
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.figure-links-container {
    width: 85%;
}

.figure-link {
    flex-grow: 1;
    margin: 0 20px 20px 0; 
}

.figure-link>a>figure{
    max-width: 100%;
}

.figure-link>a>figure>img{
    max-width: 100%;
}

.more-subject>h3 {
    padding: 22px 0 17px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-top: solid black 1px;
    margin-right: 20px;
}

.more-subject>h3>a {
    color: black;
    text-decoration: none;
}

.more-subject>h3>a:hover,
.more-subject>h3>span:hover,
.footer-div>section>ul>li>a:hover,
.footer-last-nav>ul>li>a:hover,
.subscribe-div-section>section>.font-10>li>a:hover,
.subscribe-div-section>section ul:first-of-type>li>a:hover {
    text-decoration: underline;
}

.most-popular {
    width: 30%;
    margin-left: 30px;
}

.most-popular>section>h3 {
    padding: 22px 0 17px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-top: solid black 1px;
    color: #333333;
}

.most-popular>section>ul>li {
    border-top: solid #e2e2e2 1px;
    padding: 15px 0;
}

.most-popular>section>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 1.15em;
    line-height: 1.4em;
    font-weight: normal;
}

.most-popular>section>ul>li>a:hover {
    color: #666666;
}
